:root {
    --grid-box: 15px;
    --grid-padding: 2px;
    --background-color: rgb(0, 145, 255);
    --text-color: #ffffff;
    --highlight-color: rgb(0, 162, 255);
    --darker-blue: rgb(0, 117, 207);
    --content-width: 40%;
    --min-content-width: 250px;
    --table-width: 50%;
}

body {
    text-align: center;
    text-decoration: none;
    font-family: 'andale mono', monospace;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}



/* DROP DOWN SOURCE : https://www.w3schools.com/css/css_dropdowns.asp */

/* Style The Dropdown Button */
.dropbtn {
    background-color: rgba(255, 255, 255, 0);
    color: var(--darker-blue);
    padding: 8px;
    font-size: 12px;
    min-width: 90px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 90px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--darker-blue);
    font-size: 10px;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: var(--highlight-color);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: var(--highlight-color);
  }


/* BUTTON SOURCE:     */

*,
*:after,
*:before {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.table-wrapper {
  display: flex;
  width: 40%;
  min-width: 500px;
}

table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--table-width);
  border: 1px solid;
  border-radius: 30px;
  padding: 50px;
  color: var(--text-color);
  table-layout: fixed;
}

th {
  /*display: inline;*/
  text-align: center;
  width: calc((var(--table-width)) / 3);
  border-bottom: 1px solid white;
}

td {
  padding-top: 5px;
  border-bottom: 1px solid var(--darker-blue);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  /* Accessible outline */
  /* Remove comment to use */
  /*
  	&:focus-within {
  			outline: .125em solid $primary-color;
  	}
  */
}

label input {
  position: absolute;
  left: -9999px;
}

label input:checked + span {
  background-color: var(--darker-blue);
}

label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

label span {
  /*display: flex;*/
  color: var(--text-color);
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}

label span:hover {
  background-color: var(--highlight-color);
}

label span:before {
  /*display: flex;*/
  flex-shrink: 0;
  content: "";
  background-color: var(--darker-blue);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}
 
.container {
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

mb-3 {
    padding: 40px;
}

#moodgraph {
    padding-top: 100px;
}

.button_container {
    text-decoration: none;
    text-align: center;
    padding: 50px;
}

.btn:hover {
  color: var(--darker-blue)
}

.btn {
    text-decoration: none;
    font-size: 80%;
    font-style: bold;
    color: var(--text-color);
    background: none;
    border-color: #ffffff;
    border-radius: 20px;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    animation-iteration-count: 3;
}

#btn_primary {
  font-size: 120%;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  animation: pulse 2s infinite;
}

#about_btn {
  font-size: 77%;
  animation: pulse 2s infinite;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    padding-bottom: 100px;
    margin: 8px 0;
    word-wrap: break-word;     
    box-sizing: border-box;
    outline: none;
}  

textarea {
    width: var(--content-width);
    min-width: var(--min-content-width);
    height: 300px;
    outline: none;
    border-color: #ffffff;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--highlight-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    resize: none;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    animation-iteration-count: 3;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* reference: https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */

label {
    color: var(--text-color)
}

.moodbox {
    width: var(--grid-box);
    height: var(--grid-box);
    border: 1px solid;
    border-radius: 2px;
    border-color: #ffffff;
    padding: var(--grid-padding);
}

#joy {
    background-color: rgb(255, 196, 0);
}

#gratitude {
    background-color: rgb(255, 119, 0);
}

#anger {
    background-color: rgb(255, 69, 69);
}

#peace {
    background-color: rgb(227, 155, 223);
}

#confused {
    background-color: rgb(155, 119, 97);
}

#love {
    background-color: rgb(206, 80, 217);
}

#empty {
    background-color: rgb(91, 172, 129);
}

#guilty {
    background-color: rgb(91, 145, 79);
}

#sad {
    background-color: rgb(26, 124, 185);
}

/* CREATING GRID FOR MOOD-GRAPH, REFERENCE: https://css-tricks.com/a-grid-of-logos-in-squares/ */


.grid-area {
    /*filter: blur(1px);*/
    width: var(--content-width);
    min-width: 430px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15px, 1fr));
    grid-gap: 5px;
  }

  .grid > div {
    /*padding: 1rem;*/
    display: grid;
    place-items: center;
  }
  .grid > div::before {
    content: "";
    display: block;
    padding-bottom: 100%;
    grid-area: 1/1/2/2;
  }

  /*
  .grid > div img {
    width: 100%;
    grid-area: 1/1/2/2;
  }
  */
  /*
  body {
    margin: 2rem;
  }

/* END OF REFERENCE */

/* CURSOR REFERENCE: http://ahrengot.com/tutorials/greensock-javascript-animation*/

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  background: #CB4B16;
  border-radius: 80%;
  backface-visibility: hidden;
}

