:root {
    --grid-box: 15px;
    --grid-padding: 2px;
    --background-color: rgb(0, 145, 255);
}

h1 {
	color: rgb(106, 164, 166);
}

body {
    text-align: center;
    text-decoration: none;
    font-family: 'andale mono', monospace;
    background-color: var(--background-color)
}

a {
    text-decoration: none;
}

nav {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 50px;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    font-size: 40%;
    color: rgb(255, 255, 255);
}

mb-3 {
    padding: 40px;
}

#moodgraph {
    padding-top: 100px;
}

.button_container {
    text-decoration: none;
    text-align: center;
    padding: 100px;
}

.btn {
    text-decoration: none;
    font-size: 80%;
    font-style: bold;
    color: #ffffff;
    background: none;
    border-color: none;
    border-style: none;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    padding-bottom: 100px;
    margin: 8px 0;
    word-wrap: break-word;     
    box-sizing: border-box;
  }  

label {
    color: #ffffff;
}

.sad {
    width: var(--grid-box);
    height: var(--grid-box);
    border-width: 1px;
    padding: var(--grid-padding);
    background-color: rgb(136, 243, 255);
}

.confused {
    width: var(--grid-box);
    height: var(--grid-box);
    padding: var(--grid-padding);
    background-color: rgb(178, 242, 144);
}

.love {
    width: var(--grid-box);
    height: var(--grid-box);
    padding: var(--grid-padding);
    background-color: rgb(255, 148, 182);
}

.mad {
    width: var(--grid-box);
    height: var(--grid-box);
    padding: var(--grid-padding);
    background-color: rgb(255, 69, 69);
}

.btn tag {
    padding: 20px;
}

table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border: 2px solid;
}

th {
    padding: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.grid-area {
    filter: blur(3px);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}


/* CREATING GRID FOR MOOD-GRAPH, REFERENCE: https://css-tricks.com/a-grid-of-logos-in-squares/ */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15px, 1fr));
    grid-gap: 5px;
  }

  .grid > div {
    /*padding: 1rem;*/
    display: grid;
    place-items: center;
  }
  .grid > div::before {
    content: "";
    display: block;
    padding-bottom: 100%;
    grid-area: 1/1/2/2;
  }

  /*
  .grid > div img {
    width: 100%;
    grid-area: 1/1/2/2;
  }
  */
  /*
  body {
    margin: 2rem;
  }

/* END OF REFERENCE */








/* VARIABLE THING! */

/* :root {
    --size_small: 14px;
    --size_med: 18px;
    --size_large: 22px;
    --color: #ffffff;
}

h1 {
    font-size:var(--size_large)
}

*/