<!--REFERENCING LAYOUT HTML -->
{% extends "layout.html" %}

{% block title %}
about
{% endblock %}

<p>about!</p>

{% block main %}

<!-- ABOUT GRAPHIC -->
<img src="/static/tell me about it_about.png" alt="tell me about it! web diagram" width="500"/>


<br><br><br><br>


<!--TELL & LISTEN BUTTONS -->

<div class="button_container">
    <a href="/tell">
        <button class="btn" id="btn_primary">TELL</button>
    </a>

    <a href="/listen">
        <button class="btn" id="btn_primary">LISTEN</button>
    </a>
</div>



{% endblock %}