{% extends "layout.html" %}

{% block title %}
home
{% endblock %}

{% block main %}

<div class="button_container">

    <img src="/static/LOGO.png" alt="tell me about it! logo" width="250"/>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="button_container">
        <a href="/tell">
            <button class="btn" id="btn_primary">TELL</button>
        </a>


        <!--for space inbtwn buttons-->
        <!-- <div style="display:inline;">&nbsp</div> -->

        <a href="/listen">
            <button class="btn" id="btn_primary">LISTEN</button>
        </a>
    </div>
</div>

{% endblock %}