<!--REFERENCING LAYOUT HTML -->
{% extends "layout.html" %}

{% block title %}
home
{% endblock %}

{% block main %}

    <!--LOGO IMAGE -->
    <img src="/static/LOGO.png" alt="tell me about it! logo" width="250"/>
    
    <br>
    <br>
    <br>


    <!--TELL & LISTEN BUTTONS -->
    <div class="button_container">
        <div>
            <a href="/tell">
                <button class="btn" id="btn_primary">TELL</button>
            </a>

            <a href="/listen">
                <button class="btn" id="btn_primary">LISTEN</button>
            </a>
        </div>

        <br><br>

        <!--ABOUT BUTTON -->

        <div>
            <a href="/about">
                <button class="btn" id="about_btn">NOT SURE WHERE TO START?</button>
            </a>
        </div>
    </div>

{% endblock %}