{% extends "layout.html" %}

{% block title %}
home
{% endblock %}

{% block main %}

    <img src="/static/LOGO.png" alt="tell me about it! logo" width="250"/>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="button_container">
        <div>
            <a href="/tell">
                <button class="btn" id="btn_primary">TELL</button>
            </a>

            <!--for space inbtwn buttons-->
            <!-- <div style="display:inline;">&nbsp</div> -->

            <a href="/listen">
                <button class="btn" id="btn_primary">LISTEN</button>
            </a>
        </div>

        <br><br>

        <div>
            <a href="/about">
                <button class="btn" id="about_btn">NOT SURE WHERE TO START?</button>
            </a>
        </div>
    </div>

{% endblock %}