<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">


        <!-- D3 -->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="d3.js"></script>

        <!-- LINK FONT FAMILY -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- FAVICON, LINKED TO STATIC FOLDER -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/listen">Listen</a>
            <a class="nav-link" href="/listen_advice">Listen Advice</a>
            <a class="nav-link" href="/listen_story">Listen Story</a>
            <a class="nav-link" href="/tell">Tell</a>
            <a class="nav-link" href="/tell_story">Tell Story</a>
            <a class="nav-link" href="/tell_advice">Tell Advice</a>
        </nav>

        <main class="container-fluid py-5 text-center">
            <!-- BLOCK FROM TEMPLATE FILES -->
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">
           <!-- FOOTER -->
        </footer>

    </body>

</html>
