{% extends "layout.html" %}

{% block title %}
    <!-- PAGE TITLE -->
    LISTEN
{% endblock %}

{% block main %}

<!-- TWO TABLES, LOG OF STORIES (POSTS) AND ADVICE (REPLIES) -->

<table>
    <thead>
        <tr>
        <th>DATE</th>
        <th>STORY</th>
        </tr>
    </thead>
    <tbody>
        {% for i in stories %}
        <tr>
            <td>{{ i.post_time }}</td>
            <td>{{ i.post_entry }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table>
    <thead>
        <tr>
        <th>DATE</th>
        <th>ADVICE</th>
        </tr>
    </thead>
    <tbody>
        {% for i in advice %}
        <tr>
            <td>{{ i.reply_time }}</td>
            <td>{{ i.reply_entry }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}