{% extends "layout.html" %}

{% block title %}
listen to advice
{% endblock %}

{% block main %}

<!-- DISPLAYS LOG OF ADVICE (REPLIES) FILTERED BY TAGS -->

<div class="grid-area">
    <div class="grid center">
        {% for i in moodgraph %}
        
            <div class="moodbox" id="{{ i.tag }}" title="{{ i.tag }}"></div>
        
        {% endfor %}
    </div>
</div>

<br><br>

<form action="/listen_advice" method="post">
    <div class="container">
            <p>
            <label>
                <input class="radio" type="radio" value="joy" id="listen_tags" name="listen_tags"> 
                <span>JOY</span>
            </label>
            <label>
                <input class="radio" type="radio" value="gratitude" id="listen_tags" name="listen_tags"> 
                <span>GRATITUDE</span>
            </label>
            <label>
                <input class="radio" type="radio" value="anger" id="listen_tags" name="listen_tags"> 
                <span>ANGER</span>
            </label>
            </p>
    <br><p>
            <label>
                <input class="radio" type="radio" value="peace" id="listen_tags" name="listen_tags"> 
                <span>PEACE</span>
            </label>
            <label>
                <input class="radio" type="radio" value="confused" id="listen_tags" name="listen_tags"> 
                <span>CONFUSED</span>
            </label>
            <label>
                <input class="radio" type="radio" value="love" id="listen_tags" name="listen_tags"> 
                <span>LOVE</span>
            </label>
            </p>
    <br><p>
            <label>
                <input class="radio" type="radio" value="empty" id="listen_tags" name="listen_tags"> 
                <span>EMPTY</span>
            </label>
            <label>
                <input class="radio" type="radio" value="guilty" id="listen_tags" name="listen_tags"> 
                <span>GUILTY</span>
            </label>
            <label>
                <input class="radio" type="radio" value="sad" id="listen_tags" name="listen_tags"> 
                <span>SAD</span>
            </label>
            </p>
    </div>

    <div class="button_container">
        <button class="btn btn-primary" type="submit">See Advice</button>
    </div>
    
</form>

<br>

<table style="min-width: 500px" class="center">
    <thead>
        <tr>
        <th>DATE</th>
        <th>ADVICE</th>
        <th>TAG</th>
        </tr>
    </thead>
    <tbody>
        {% for i in advice %}
        <tr id=git>
            <td>{{ i.reply_time }}</td>
            <td>{{ i.reply_entry }}</td>
            <td>{{ i.tag }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<img src="/static/LOGO_white.png" alt="tell me about it! logo" width="100"/>



{% endblock %}