{% extends "layout.html" %}

{% block title %}
listen
{% endblock %}

{% block main %}

<!-- TWO TABLES, LOG OF STORIES (POSTS) AND ADVICE (REPLIES) -->

<div class="grid-area">
    <div class="grid center">
        {% for i in moodgraph %}
        
            <div class="moodbox" id="{{ i.tag }}" title="{{ i.tag }}"></div>
        
        {% endfor %}
    </div>
</div>

<br>
<br>

<table style="border: 0px;">
    <tr>
        <td style="display:inline;">
            <table>
                <thead>
                    <tr>
                    <!-- OLD IMPLEMENTATION OF DATE TIME <th>DATE</th> -->
                    <th>STORY</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in stories %}
                    <tr>
                        <!-- OLD IMPLEMENTATION OF DATE TIME -->
                        <!-- <td>{{ i.post_time }}</td> -->
                        <td title="POSTED ON: {{ i.post_time }}">{{ i.post_entry }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>

        <td style="display:inline;">
            <table>
                <thead>
                    <tr>
                    <!-- OLD IMPLEMENTATION OF DATE TIME <th>DATE</th> -->
                    <th>ADVICE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in advice %}
                    <tr>
                        <!-- OLD IMPLEMENTATION OF DATE TIME -->
                        <!-- <td>{{ i.reply_time }}</td> -->
                        <td title="POSTED ON: {{ i.reply_time }}">{{ i.reply_entry }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>

    </tr>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<img src="/static/LOGO_white.png" alt="tell me about it! logo" width="100"/>

{% endblock %}