{% extends "layout.html" %}

{% block title %}
    LISTEN | ADVICE
{% endblock %}

{% block main %}

<!-- DISPLAYS LOG OF ADVICE (REPLIES) FILTERED BY TAGS -->

<table>
    <thead>
        <tr>
        <th>DATE</th>
        <th>ADVICE</th>
        <th>TAG</th>
        </tr>
    </thead>
    <tbody>
        {% for i in advice %}
        <tr>
            <td>{{ i.reply_time }}</td>
            <td>{{ i.reply_entry }}</td>
            <td>{{ i.tag }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}