{% extends "layout.html" %}

{% block title %}
    LISTEN | ADVICE
{% endblock %}

{% block main %}

<!-- DISPLAYS LOG OF ADVICE (REPLIES) FILTERED BY TAGS -->

<form action="/listen_advice" method="post">
    <div class="mb-3">
        <input type="radio" value="sad" id="listen_tags" name="listen_tags"> 
        <label for="listen_tags">sad</label>
        <input type="radio" value="confused" id="listen_tags" name="listen_tags"> 
        <label for="listen_tags">confused</label>
        <input type="radio" value="in love" id="listen_tags" name="listen_tags"> 
        <label for="listen_tags">in love</label>
        <input type="radio" value="v mad" id="listen_tags" name="listen_tags"> 
        <label for="listen_tags">v mad</label>
    </div>
    <button class="btn btn-primary" type="submit">See Stories</button>
</form>

<table>
    <thead>
        <tr>
        <th>DATE</th>
        <th>ADVICE</th>
        <th>TAG</th>
        </tr>
    </thead>
    <tbody>
        {% for i in advice %}
        <tr>
            <td>{{ i.reply_time }}</td>
            <td>{{ i.reply_entry }}</td>
            <td>{{ i.tag }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}