{% extends "layout.html" %}

{% block title %}
    LISTEN | STORIES
{% endblock %}

{% block main %}

<!-- DISPLAYS LOG OF STORIES (POSTS) FILTERED BY TAGS -->

<form action="/listen_story" method="post">
    <div class="mb-3">
        <input type="checkbox" value="sad" id="listen_tags" name="listen_tags"> 
        <label for="listen_tags">sad</label>
        <input type="checkbox" value="confused" id="listen_tags" name="listen_tags"> 
        <label for="listen_tags">confused</label>
        <input type="checkbox" value="in love" id="listen_tags" name="listen_tags"> 
        <label for="listen_tags">in love</label>
        <input type="checkbox" value="v mad" id="listen_tags" name="listen_tags"> 
        <label for="listen_tags">v mad</label>
    </div>
    <button class="btn btn-primary" type="submit">See Stories</button>
</form>

<table class="center">
    <thead>
        <tr>
        <th>DATE</th>
        <th>STORY</th>
        <th>TAGS</th>
        </tr>
    </thead>
    <tbody>
        {% for i in stories %}
        <tr>
            <td>{{ i.post_time }}</td>
            <td>{{ i.post_entry }}</td>
            <td>{{ i.tag }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}