{% extends "layout.html" %}

{% block title %}
    <!-- PAGE TITLE -->
    TELL | ADVICE
{% endblock %}

{% block main %}

<!-- FORM TO INSERT TEXT INTO REPLY TABLE -->

<form action="/tell_advice" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tell_advice" name="tell_advice" placeholder="Share Some Advice" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Send Your Feelings to The Ether!</button>
</form>

{% endblock %}