{% extends "layout.html" %}

{% block title %}
    <!-- PAGE TITLE -->
    TELL | STORY
{% endblock %}

{% block main %}

<!-- FORM TO INSERT TEXT INTO POST TABLE -->

<form action="/tell_story" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tell_story" name="tell_story" placeholder="Tell Me About It" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Send Your Feelings to The Ether!</button>
</form>

{% endblock %}