{% extends "layout.html" %}

{% block title %}
share advice
{% endblock %}

{% block main %}

<!-- FORM TO INSERT TEXT INTO REPLY TABLE -->

<form action="/tell_advice" method="post">
    <div class="mb-3">
        <!-- <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tell_advice" name="tell_advice" placeholder="Share Some Advice" type="text"> -->

        <textarea id="tell_advice" name="tell_advice" placeholder="Share Some Advice" type="text"></textarea>

        <br>

        <div class="container">
            <form>
                <p>
                <label>
                    <input class="checkbox" type="checkbox" value="joy" id="tell_tags" name="tell_tags"> 
                    <span>JOY</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox" value="gratitude" id="tell_tags" name="tell_tags"> 
                    <span>GRATITUDE</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox" value="anger" id="tell_tags" name="tell_tags"> 
                    <span>ANGER</span>
                </label>
                </p>
        <br><p>
                <label>
                    <input class="checkbox" type="checkbox" value="peace" id="tell_tags" name="tell_tags"> 
                    <span>PEACE</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox" value="confused" id="tell_tags" name="tell_tags"> 
                    <span>CONFUSED</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox" value="love" id="tell_tags" name="tell_tags"> 
                    <span>LOVE</span>
                </label>
                </p>
        <br><p>
                <label>
                    <input class="checkbox" type="checkbox" value="empty" id="tell_tags" name="tell_tags"> 
                    <span>EMPTY</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox" value="guilty" id="tell_tags" name="tell_tags"> 
                    <span>GUILTY</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox" value="sad" id="tell_tags" name="tell_tags"> 
                    <span>SAD</span>
                </label>
                </p>
            </form>
        </div>

    </div>

    <div class="button_container">
        <button class="btn btn-primary" type="submit">Send Your Feelings to The Ether!</button>
    </div>
    
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<img src="/static/LOGO_white.png" alt="tell me about it! logo" width="100"/>

{% endblock %}