{% extends "layout.html" %}

{% block title %}
    <!-- PAGE TITLE -->
    TELL | STORY
{% endblock %}

{% block main %}

<!-- FORM TO INSERT TEXT INTO POST TABLE -->

<form action="/tell_story" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tell_story" name="tell_story" placeholder="Tell Me About It" type="text">
        <input type="radio" value="sad" id="tell_tags" name="tell_tags"> 
        <label for="tell_tags">sad</label>
        <input type="radio" value="confused" id="tell_tags" name="tell_tags"> 
        <label for="tell_tags">confused</label>
        <input type="radio" value="in love" id="tell_tags" name="tell_tags"> 
        <label for="tell_tags">in love</label>
        <input type="radio" value="v mad" id="tell_tags" name="tell_tags"> 
        <label for="tell_tags">v mad</label>
    </div>
    <div class="button_container">
        <button class="btn btn-primary" type="submit">Send Your Feelings to The Ether!</button>
    </div>

</form>

{% endblock %}