{% extends "layout.html" %}

{% block title %}
tell
{% endblock %}

{% block main %}

<!-- SELECT FROM TWO BUTTONS, TELL STORY OR ADVICE -->


    <a href="/tell_story">
        <button class="btn">TELL A STORY</button>
    </a>

    <a href="/tell_advice">
        <button class="btn">SHARE ADVICE</button>
    </a>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<img src="/static/LOGO_white.png" alt="tell me about it! logo" width="100"/>

{% endblock %}